---
import Header from '../components/Header/Header.vue';
import Footer from '../components/Footer/Footer.vue';
const { title, description } = Astro.props;
const preview = '/icons/logo.svg';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description}>
		<link rel="icon" type="image/svg+xml" href={preview} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>	
	</head>
	
	<body id="wrapper" >	
			<Header client:load/>
			<main id="content" class="grid wrapper">
				<slot />
			</main>
			<Footer/>	
	</body>
	<!-- <body id="wrapper" >	
		<Header client:load/>
		<main id="content" class="min-h-[calc(100%-110px)] mb-[144px] wrapper">
			<slot />
		</main>
		<Footer/>	
	</body> -->
	
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #ffffff;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
